<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the main template</h1>
    {% include 'navbar.html' %}


    {% block content %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae consequatur aperiam consectetur libero quasi illo quos dolor fugit eaque? Animi itaque, rerum eos aliquid a recusandae fugiat maxime qui ipsa.

    {% endblock content %}
</body>
</html>